section{

    background-color: #2B2B2B;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.contact{
    &__page{
        height: 100%;
    }
    &__box{

        display: flex;
        flex-direction: column;
        max-width: 800px;
        width: 80%;
        height: 530px;
        background-color: #4D4D4D;
        text-align: center;
        align-items: center;
        border-radius: 20px;
        justify-content: space-between;
        border-style: solid;
        border-width: 0.5px;
        border-color: #3D3D3D;
        
    }
    &__message{

        display: flex;
        flex-direction: column;
        text-align:left;
        gap: 10px;
        max-width: 680px;
        width: 90%;

        label{

            align-items:flex-start ;

        }
        
        textarea{

            height: 300px;
            border-radius: 10px;
            background-color: #2B2B2B;
            color: #FFFFFF;
            border-style: solid;
            border-width: 0.5px;
            border-color: #232323;
            outline: none;
            resize: none;
            padding: 10px;
        }
    }
    &__button{

        color: #FFFFFF;
        background-color: #7080ef;
        padding: 10px 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        cursor: pointer;
        box-shadow: none;
        border-radius: 10px;
        border-style: none;
        font-size: 16px;

        &:hover{

            color: #FFFFFF;
            transition: 100ms;
            background-color: #5C6AC6
            
        }
    }
    &__buttoncontainer{

        display:flex;
        max-width: 700px;
        width: 90%;
        justify-content: space-between;
        padding-bottom: 20px;

        a{
            color:#FFFFFF;
            text-decoration: none;
        }
    }

}

.popup{

    position:absolute;
    display: flex;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #4D4D4D;
    border-radius: 20px;
    width: fit-content;
    padding-left: 10px;
    padding-right: 10px;
    border-width: 0.5px;
    border-color: #3D3D3D;

    &--content{}
}