$brand: #7080EF;
$text: #FFFFFF;
$lightbg: #4D4D4D;
$darkbg: #2B2B2B;

html{

    width: 100%;
    height: 100%;

}

body{

    height: 100%;
    font-family: Roboto, sans-serif;
    color: $text;
    background-color: #2B2B2B;
    margin: 0px;

    h1{}
    h2{}
    h3{}
    p{}

}