.body{
    margin: 0px;

}

.home{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    box-sizing:border-box;

    &__content{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        max-width: 280px;
        width: 90%;
        padding: 20px;
        background-color: #4D4D4D;
        
        &--img{
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            img{
                width: 90%;
    
            }
        }
    }

    &__chatbot {
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #chat-container {
        height: 100%;
        width: 80%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        justify-content: end;
      }
      
      #user-input {
        width: calc(80% - 15px);
        padding: 15px;
        color: #FFFFFF;
        background-color: #4D4D4D;
        border: 1px solid #232323;
        border-radius: 20px;
        margin-bottom: 2%;
        font-size: 16px;
        &::placeholder{
            color: #C0C2D3;
        }
        &:focus{
            outline-width: 0;
        }
      }

      #chat-conversation{
        display: flex;
        flex-direction: column;
        gap:10px;
        margin-bottom: 10px;
      }
      
      #send-button {
        position: absolute;
        bottom: 3.8%;
        right: 8%;
        width: 70px;
        padding: 0px;
        background-color: rgba(0, 0, 0, 0);
        cursor: pointer;
      }
      
      .user-message {
        background-color: #7080EF;
        padding: 15px;
        margin-bottom: 5px;
        border-radius: 20px;
        text-align: right;
        width: fit-content;
        margin-left: auto;
      }
      
      .bot-message {
        background-color: #474747;
        padding: 15px;
        margin-bottom: 5px;
        border-radius: 20px;
        width: fit-content;
        margin-right: auto;
      }
    

    .slideToggle{
        display: flex;
        position: relative;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 25px;
        height: 100%;
        margin-left: 10px;
        
        align-items: center;

        img{
            max-height: 40px;
            cursor: pointer;
        }
    }

    &__chathistory{
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 20px;
        div{

            padding-top: 5px;
            padding-bottom: 5px;
        }
        
        h4{
            font-size: 16px;
            color: #C0C2D3;
            font-weight: 400;
            margin: 0px;
            margin-top: 5px;
            margin-bottom: 5px;
        }
    }
    &__options{
        display: flex;
        flex-direction: column;
        gap: 20px;

        &--container{
            display: flex;
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;
            gap: 15px;

        }

        img{
            width: 50px;

        }
    }
}

a{
    color:#FFFFFF;
    text-decoration: none;
    cursor: pointer;

    &:hover{

        color: #7080EF;

    }
}